/*========== navbar ==========*/
.nav {

    padding: 15px;
    width: 100%;
}

nav {
    margin-top: -100px;
    display: flex;
    padding: 20px;

}

nav a {
    padding: 20px;
    position: relative;
    list-style-type: none;
    margin: 10px;
}

nav a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

nav a::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    padding-top: -22px;
    background-color: brown;
    left: 0;
    bottom: 0;
    transform: scale(0.1);
    transition: .4s;
}

nav a:hover::before {
    transform: scale(1.1);
}

.sign_up {
    text-align: right;
    color: red;
}

.logo {
    margin-top: 200px;
    margin-bottom: -200px;
    width: 200px;
    height: 200px;
    position: relative;

}

/*========== Acceuil ==========*/
.home {
    display: flex;
    background: url("../photo/first_bg.jpg");
    height: 100%;
    color: rgb(10, 10, 10);
    min-height: 950px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    margin-top: -140px;
}




.home .max-width {
    max-width: 1300px;
    padding: 0% 10%;
    margin: auto;

}

.home .home-content .text1 {

    font-size: 6vw;
    font-weight: 400;
    margin-left: -3px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;

}

/*========== menu ==========*/

.p_120 {
    padding: 5%;
    margin: 80px;
    padding-top: 20px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.service_item {
    text-align: center;
    padding: 2px;
    /* background-color: #008080; */
    font-family: "Times New Roman", Times, serif;
}

.service_item1 {
    margin-bottom: -50px;
    margin-top: 20px;
    color: black;
    text-align: center;
    padding: 2px;
    font-family: "Times New Roman", Times, serif;
}

.photo_menu1 {
    border-radius: 15px;
    width: 100%;
    height: 50%;

}

.separation a :hover {
    transition: .4s;
    width: 102%;
    height: 100%;
    box-shadow: 16px 10px 20px 0px rgba(0, 0, 0, 0.27);
}

.separation {
    padding: 20px;
}

/*========== SERVICES ==========*/
.services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
    padding: 10px;
    font-size: 30px;
    font-family: bold;
}

.services__description {
    padding: 0 1.5rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
    font-size: 60px;
    font-family: bold;
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);

}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

/* menuCSS for All */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-center {
    margin-bottom: 100px;
    text-align: center;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: #ff4757;
}

/* CSS for Food Menu */
.food-menu {
    margin-left: 8%;
    margin-top: -120px;
    background-color: #ececec;
    padding: 4% 0;
}

.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img {
    width: 20%;
    float: left;
}

.food-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 1rem;
    color: #747d8c;
}


/* add product */

.formu {
    margin: 50px;

}

/* footer section styling */
footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: rgb(29, 226, 193);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/* End of footer */

/* contact section styling */

.p_140 {
    padding: 5%;
    margin: 80px;
    padding-top: 20px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.p_140 .p_141 {
    height: 100%;
    background-color: beige;
    box-shadow: 16px 10px 20px 0px rgba(0, 0, 0, 0.27);
    padding: 20px;
    margin: 8%;
    text-align: center;

}

.contact__img {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;

}

/*Section 6 Styles*/

.section6 {

    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-image: url("../photo/subscribe.jpg");
    background-size: cover;
    overflow: hidden;
    color: white;
    font-size: 20px;
    padding: 80px;
}

.form-group {
    width: 50%;
    margin: auto;
}

.section6 p {
    font-size: 30px;
}

input[type=email] {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
}

input[type=button] {
    background-color: #f15a29;
    color: white;
    font-size: 16px;
}

.form-control {
    border: 0;
    border-radius: 2px;
}

.form-control::-moz-placeholder {
    color: white;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: white;
}

.form-control::-webkit-input-placeholder {
    color: white;
}

#output {
    font-size: 20px;
}

.footer .fa {
    margin-right: 15px;
    margin-left: 15px;
}

/*Section 7 Styles: Footer*/

.section7 {
    width: 80%;
    margin-left: 10%;
    background-color: #f15a29;
   
}

.footer {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer>img {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer h5 {
    font-size: 40px;
}

#copyright {
    font-size: 14px;
}

/** button */


