
/*========== navbar ==========*/
.nav {

    padding: 15px;
    width: 100%;
}

nav {
    margin-top: -100px;
    display: flex;
    padding: 20px;

}

nav a {
    padding: 20px;
    position: relative;
    list-style-type: none;
    margin: 10px;
}

nav a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

nav a::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    padding-top: -22px;
    background-color: brown;
    left: 0;
    bottom: 0;
    transform: scale(0.1);
    transition: .4s;
}

nav a:hover::before {
    transform: scale(1.1);
}

.sign_up {
    text-align: right;
    color: red;
}

.logo {
    margin-top: 200px;
    margin-bottom: -200px;
    width: 200px;
    height: 200px;
    position: relative;

}

/*========== Acceuil ==========*/
.home {
    display: flex;
    background: url("../photo/first_bg.jpg");
    height: 100%;
    color: rgb(10, 10, 10);
    min-height: 950px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    margin-top: -140px;
}




.max-width {
    max-width: 1300px;
    padding: 0% 10%;
    margin: auto;

}

.home .home-content .text1 {

    font-size: 6vw;
    font-weight: 400;
    margin-left: -3px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;

}

/*========== menu ==========*/

.p_120 {
    padding: 5%;
    margin: 80px;
    padding-top: 20px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.service_item {
    text-align: center;
    padding: 2px;
    /* background-color: #008080; */
    font-family: "Times New Roman", Times, serif;
}

.service_item1 {
    margin-bottom: -50px;
    margin-top: 20px;
    color: black;
    text-align: center;
    padding: 2px;
    font-family: "Times New Roman", Times, serif;
}

.photo_menu1 {
    border-radius: 15px;
    width: 100%;
    height: 100%;

}

.separation a :hover {
    transition: .4s;
    width: 102%;
    height: 100%;
    box-shadow: 16px 10px 20px 0px rgba(0, 0, 0, 0.27);
}

.separation {
    padding: 20px;
}

/*========== SERVICES ==========*/
.services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
    padding: 10px;
    font-size: 30px;
    font-family: bold;
}

.services__description {
    padding: 0 1.5rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
    font-size: 60px;
    font-family: bold;
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);

}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

/* menuCSS for All */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-center {
    margin-bottom: 100px;
    text-align: center;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: #ff4757;
}

/* CSS for Food Menu */
.food-menu {

    margin-top: -120px;
    background-color: #ececec;
    padding: 4% 0;
}

.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img {
    width: 20%;
    float: left;
}

.food-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 1rem;
    color: #747d8c;
}
body {
	align-items: center;
	background-color: white;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 60vh;
	place-items: center;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.link {
	color: gray;
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

.container {
	background-color: white;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: 600px;
    margin: 35px;
	max-width:  758px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.container__form {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}


.container--signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.container.right-panel-active .container--signup {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.container__overlay {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.container.right-panel-active .container__overlay {
	transform: translateX(-100%);
}

.overlay {
	background-color: #008997;
	background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay__panel {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}

.overlay--left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
	transform: translateX(0);
}

.overlay--right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay--right {
	transform: translateX(20%);
}

.btn {
	background-color:blue;
	background-image: linear-gradient(90deg, blue 0%, #008997 74%);
	border-radius: 20px;
	border: 1px solid blue;
	color: white;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form > .btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.form {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}

